.container {
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  min-width: 250px;
  border-top-left-radius: 10px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  background-color: rgb(38, 38, 38); 
}

.mainMenu {
  gap: .5rem;
  display: flex;
  flex-direction: column;
}

.mainMenu h6 {
  color: #c7c7c7;
}

.menuList {
  gap: 0;
  display: flex;
  flex-direction: column;
}

.menuList li {
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  color: rgb(199, 199, 199);
}

.menuList li:hover {
  cursor: pointer;
  color: rgb(222, 222, 222);
  background-color: rgb(77, 77, 77);
}