.container {
  gap: var(--size-1);
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  padding-left: var(--size-6);
  padding-right: var(--size-6);
}

.leftSection,
.rightSection {
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.leftSection {
  gap: var(--size-4);
}

.rightSection {
  align-items: flex-end;
  justify-content: center;
}

.icon {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons {
  gap: var(--size-4);
  display: flex;
}

.wrapper {
  width: 512px;
  height: 360px;
  perspective: 1000px;
  position: relative;
  z-index: 1;
  padding: 25px;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition-duration: 1s;
  transform-origin: center;
  transform: rotateY(-10deg) rotateX(30deg) rotateZ(5deg);
  box-shadow: 0px 0px 100px black;
  opacity: .5;
}

.imageContainer:hover {
  transform: rotateX(-10deg) rotateY(30deg) rotateZ(-5deg);
  opacity: 1;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.widthWrapper {
  display: flex;
}

@media screen and (max-width: 1080px) {
  .welcomeText {
    margin-top: 100px;
    margin-bottom: 200px;
    flex-direction: column;
  }

  .wrapper {
    margin: 0;
    padding: 0;
    width: 384px;
    height: 270px;
  }

  .widthWrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
  }

  .imageContainer {
    width: auto;
  }

  .buttonContact {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  .buttonContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .welcomeText {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container {
    padding-top: var(--size-12);
    flex-direction: column;
  }

  .textAlign {
    text-align: center;
    padding-top: 50px;
  }
}