@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

p {
  color: var(--color-light-grey);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  gap: var(--size-3);
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: var(--size-12);
}

form {
  gap: var(--size-3);
  width: 340px;
  padding: var(--size-6);
  border-radius: var(--size-1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(24, 24, 34, 0.603);
}

li {
  gap: var(--size-1);
  display: flex;
  align-items: center;
}

.inner-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

label {
  color: white;
}

input {
  padding: .5rem;
  border-radius: 5px;
  border: none;
  color: white;
  border-bottom: 1px solid rgb(95, 69, 189);
  background-color: rgba(24, 24, 34, 0.603);
}

button {
  color: white;
  padding: .5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 1px solid rgb(95, 69, 189);
  background-color: rgba(24, 24, 34, 0.603);
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

button:hover {
  cursor: pointer;
  background-color: rgba(79, 79, 150, 0.603);
}

input:hover,
input:active,
input:focus,
input:focus-visible {
  outline: none;
  background-color: rgba(79, 79, 150, 0.603);
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  max-width: var(--max-width);
}

i {
  width: 340px;
  color: rgb(219, 219, 219);
  padding-top: .6rem;
  padding-bottom: .6rem;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

::-webkit-scrollbar {
  z-index: 9999999;
  width: 7px;
  height: 100%;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(26, 24, 31);
}

a {
  color: rgb(206, 206, 206);
  padding: 0;
  text-decoration: none;
}

a:hover {
  color: rgb(180, 191, 206);
}