.container {
  background: linear-gradient(168deg, #4f4f969a 10%, #39395a9a 80%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 50px;
}

.logo {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  gap: .2rem;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: .2rem;
}