.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 25px;
  padding-left: 25px;
  gap: 1.5rem;
  max-width: var(--max-width);
}

.logo {
  display: flex;
  gap: .2rem;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: .2rem;
}

