.container {
  background: var(--background-gradient-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 25px;
  padding-left: 25px;
  border-bottom: solid 1px #525252;
  gap: 1.5rem;
}

.logo {
  display: flex;
  gap: .2rem;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: .2rem;
}

