.container {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
}

.navigator {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: var(--max-width);
  padding-left: var(--size-5);
  padding-right: var(--size-6);
}

.logo {
  display: flex;
  gap: .2rem;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: .2rem;
}

.container {
  transition: background-color 0.3s ease;
  z-index: 2;
}

.container.scrolled {
  background-color: var(--background-color-dark-transparency);
  backdrop-filter: blur(100px);
}