.container {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  max-width: var(--max-width);
  padding-left: var(--size-5);
  padding-right: var(--size-6);
}

.logo {
  display: flex;
  gap: .2rem;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-top: .2rem;
}

